#data/
data/jenkins
data/gitea/git*
data/gitea/avatars
data/gitea/ssh
data/gitea/log
data/gitea/indexers
data/gitea/lfs
data/gitea/sessions
data/sonar/data
data/sonar/extensions
logs/*.log

data/sonar/logs