@mixin goo {
  filter: url("#goo");
}
.menu-items {
  @include goo();
  padding: 10px;
  width: 60px;
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.menu-item {
  cursor: pointer;
  pointer-events: all;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: black;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 0 white;
  ::ng-deep {
    fa-icon {
      margin: 6px;
      stroke: white;
    }
  }
  transition: ease-in 0.3s transform;
  &:hover {
    z-index: 9001;
  }
  &:focus,
  &:active {
    text-shadow: 0 0 1em white;
  }
}
